.App {
  background-image: url(/src/images/Background.png);
  display: flex;
  background-position: center;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: flex-start;
  flex-direction: column;
}

.currentTop {
  margin: 64px 0 81px 0;
  border: 2px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  
  ;
}

.currentTop #currentTop1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.daily {
  border: 2px solid black;
  margin: 0 64px 0 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}

.daily text {
  margin-bottom: 33px;
}

.daily .days {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 105px;
  justify-content: center;
}

.daily .days #day {
  border: 2px solid black;
  width: 160px;
  height: 168px;
}